{% extends 'base.html' %}


{% block content %}



<div class="container">
    <h2>{{ projeto.nome }}</h2>
    <p><strong>Descrição:</strong> {{ projeto.descricao }}</p>
    <p><strong>Data de Criação:</strong> {{ projeto.data_criacao }}</p>
    <p><strong>Responsável:</strong> {{ projeto.responsavel.username }}</p>
    <p><strong>Status:</strong> {{ projeto.get_status_display }}</p>
    <p><strong>Data de Início:</strong> {{ projeto.data_inicio }}</p>
    <p><strong>Data de Término:</strong> {{ projeto.data_termino }}</p>

<h4>Tarefas:</h4>
<ul>
    {% for tarefa in tarefas %}
        <li>
            {{ tarefa.nome }} -
            {% if tarefa.concluida %}
                <span class="text-success">✅ Concluída</span>
                <form method="POST" action="{% url 'desmarcar_tarefa_concluida' tarefa.id %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-warning btn-sm">Desmarcar</button>
                </form>
            {% else %}
                <span class="text-danger">❌ Não Concluída</span>
                <form method="POST" action="{% url 'marcar_tarefa_concluida' tarefa.id %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success btn-sm">Marcar como Concluído</button>
                </form>
            {% endif %}

            <!-- excluir tarefa -->
            <form method="POST" action="{% url 'excluir_tarefa' tarefa.id %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
            </form>
        </li>
    {% empty %}
        <li><em>Não há tarefas cadastradas.</em></li>
    {% endfor %}
</ul>







<h4>Anotações:</h4>
<ul>
    {% for anotacao in anotacoes %}
        <li>
            {{ anotacao.conteudo }} (Criado por: {{ anotacao.criado_por }}) -
            {% if anotacao.concluida %}
                <span class="text-success"> ✅ Concluída</span>
                <form method="POST" action="{% url 'desmarcar_anotacao_concluida' anotacao.id %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-warning btn-sm">Desmarcar</button>
                </form>
            {% else %}
                <span class="text-danger">❌ Não Concluída</span>
                <form method="POST" action="{% url 'marcar_anotacao_concluida' anotacao.id %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success btn-sm">Marcar como Concluído</button>
                </form>
            {% endif %}
            <form method="POST" action="{% url 'excluir_anotacao' anotacao.id %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
            </form>
        </li>
    {% empty %}
        <li><em>Não há anotações cadastradas.</em></li>
    {% endfor %}
</ul>


    <h4>Ideias:</h4>

 <ul>
    {% for ideia in ideias %}
        <li>
            {{ ideia.conteudo }} (Sugerido por: {{ ideia.sugerido_por }}) -
            {% if ideia.concluida %}
                <span class="text-success">✅ Concluída</span>
                <form method="POST" action="{% url 'desmarcar_ideia_concluida' ideia.id %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-warning btn-sm">Desmarcar</button>
                </form>
            {% else %}
                <span class="text-danger">❌ Não Concluída</span>
                <form method="POST" action="{% url 'marcar_ideia_concluida' ideia.id %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success btn-sm">Marcar como Concluído</button>
                </form>
            {% endif %}

            <!-- excluir ideia -->
            <form method="POST" action="{% url 'excluir_ideia' ideia.id %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
            </form>
        </li>
    {% empty %}
        <li><em>Não há ideias cadastradas.</em></li>
    {% endfor %}
</ul>



    <div class="mt-3">
        <a href="{% url 'adicionar_ideia' projeto_id=projeto.id %}" class="btn btn-secondary">Adicionar Ideia</a>
        <a href="{% url 'adicionar_nota' projeto_id=projeto.id %}" class="btn btn-secondary">Adicionar Nota</a>
        <a href="{% url 'adicionar_tarefa' projeto_id=projeto.id %}" class="btn btn-secondary">Adicionar Tarefa</a>
        <a href="{% url 'relatorios' projeto_id=projeto.id %}" class="btn btn-primary">Ver Relatórios</a>
    </div>

    <h4 class="mt-4">Convidar Usuários:</h4>
    <a href="{% url 'convidar_usuarios' projeto.id %}" class="btn btn-primary">Convidar Usuários</a>

</div>
{% endblock %}
